body {
  height: 3000px;
}

p {
  margin: 0;
}

.clothes-container {
  display: inline-block;
  position: relative;
  background-color: rgb(190, 190, 190);
  width: 200px;
  height: 200px;
}

.hoodie {
  height: 100%;
}

.discount {
  position: absolute;
  top: 5px;
  right: 0;
}

.discount-text {
  font-size: 11px;
  background-color: black;
  color: white;
  padding: 2px 5px;
}

.clothes-button-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(226, 226, 226, 0.8);
  height: 50px;
  width: 100%;
  bottom: 0;
  right: 0;
}

.add-to-cart-button {
  font-size: 11px;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.add-to-cart-button:active {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
}
