p {
  margin-top: 0;
  margin-bottom: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: 200px 75px;
  margin-top: 30px;
}

.main-grid-2 {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
  margin-top: 30px;
  width: 500px;
}

.main-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  column-gap: 20px;
  row-gap: 10px;
}

.lightblue {
  background-color: lightblue;
}

.lightpink {
  background-color: lightpink;
}

.friends-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  margin-top: 20px;
  column-gap: 20px;
  row-gap: 20px;
}

.preview-all {
  box-shadow: 0px 0px 6px 0px rgba(99, 99, 99, 0.3);
}

.preview-picture {
  width: 200px;
}

.img-top {
  height: 190px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 12px;
  vertical-align: top;
}

.name {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.preview-bottom {
  margin-left: 8px;
}

.friends-row {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.img-channel {
  width: 30px;
  border-radius: 50px;
}

.friends-amount {
  margin: 0;
  font-size: 14px;
  color: #536471;
}

.add-friend {
  background-color: #3177dafd;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.add-friend:hover {
  background-color: rgba(16, 143, 228, 0.9);
  border-color: rgb(16, 143, 228, 0.9);
}
